```
# Compiled and build artifacts
*.exe
*.dll
*.pdb
*.mdb
*.o
*.obj
*.out
*.so
*.a
*.class
*.pyc
__pycache__/
*.pyo
*.pyd
bin/
obj/
*.user
*.userosscache
*.suo
*.lock
*.tmp
*.temp
*.log
*.cache
*.ilk
*.aps
*.ncb
*.opt
*.plg
*.toc
*.manifest
*.resx
*.resources
*.snk
*.sn
*.xml
*.rsp
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.vshost.pdb
*.VisualState.xml
*.tag
*.pidb
*.userprefs
*.sln.docstates
*.userfile
*.aps
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.fdb_latexmk
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.cbx
*.cbo
*.cbu
*.cbt
*.cbz
*.cc
*.ccx
*.cd
*.cdd
*.cdf
*.cdl
*.cdm
*.cdmx
*.cdp
*.cdr
*.cdt
*.cdx
*.ce
*.cel
*.cem
*.cer
*.cfg
*.cfi
*.cfl
*.cfm
*.cfn
*.cfr
*.cfs
*.cft
*.cfx
*.cg
*.cgi
*.cgp
*.cgt
*.ch
*.ch3
*.chm
*.chq
*.chr
*.cht
*.chx
*.ci
*.cif
*.cl
*.cla
*.class
*.clj
*.cljs
*.cls
*.cmake
*.cmd
*.cmp
*.cmx
*.cnf
*.cob
*.cod
*.com
*.conf
*.config
*.cp
*.cpp
*.cpt
*.cpy
*.cr
*.crc
*.creole
*.cs
*.csharp
*.css
*.csv
*.ctl
*.cur
*.cxx
*.d
*.dart
*.db
*.def
*.dep
*.der
*.dfm
*.di
*.diff
*.disco
*.dj
*.djt
*.dll
*.dmg
*.dmp
*.doc
*.docx
*.dot
*.dotx
*.dpk
*.dpr
*.dproj
*.dsp
*.dsw
*.dtd
*.dtx
*.dump
*.dvi
*.dwg
*.dxf
*.ec
*.edn
*.el
*.elm
*.enc
*.ent
*.eps
*.epub
*.erb
*.erl
*.ex
*.exs
*.exp
*.f
*.f90
*.f95
*.fbp
*.feature
*.fig
*.fish
*.flac
*.flv
*.for
*.fp
*.fpp
*.frm
*.fs
*.fsi
*.fsproj
*.fsx
*.ftl
*.g
*.gco
*.gem
*.gemspec
*.geojson
*.gif
*.go
*.gpx
*.gradle
*.groovy
*.grv
*.gs
*.gsm
*.gtmpl
*.gv
*.gvy
*.gz
*.h
*.haml
*.hbs
*.hgignore
*.hh
*.hpp
*.hs
*.htaccess
*.htm
*.html
*.hx
*.hxx
*.ica
*.iced
*.ico
*.ics
*.idl
*.idx
*.iff
*.il
*.iml
*.inc
*.inf
*.info
*.ini
*.inl
*.ino
*.inp
*.ins
*.ipr
*.ipp
*.ips
*.irbrc
*.itdb
*.itl
*.itms
*.itpc
*.its
*.jar
*.java
*.jl
*.jmx
*.jnlp
*.jpeg
*.jpg
*.js
*.json
*.jsp
*.jsx
*.key
*.ksh
*.kt
*.kts
*.launch
*.ldif
*.less
*.lhs
*.lib
*.lid
*.lidr
*.lisp
*.litcoffee
*.llvm
*.lock
*.log
*.ls
*.lsp
*.lua
*.m
*.mak
*.map
*.markdown
*.md
*.mdown
*.mdtext
*.mdtxt
*.mdwn
*.mf
*.mi
*.mid
*.midi
*.mjs
*.mk
*.ml
*.mli
*.mm
*.mobi
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msix
*.msixbundle
*.mst
*.mtl
*.mtx
*.mustache
*.mxml
*.n
*.nb
*.nbp
*.ndll
*.nib
*.nim
*.nimble
*.nims
*.nix
*.nlogo
*.nqp
*.nuspec
*.o
*.obj
*.odp
*.ods
*.odt
*.ogg
*.opml
*.opus
*.ora
*.orig
*.otf
*.out
*.owl
*.p
*.p12
*.pac
*.pas
*.patch
*.pbxproj
*.pch
*.pdb
*.pdf
*.pem
*.pgm
*.php
*.php4
*.php5
*.phpt
*.phtml
*.pid
*.pkg
*.pl
*.plantuml
*.pm
*.pmod
*.png
*.pnm
*.pod
*.pot
*.potx
*.pp
*.ppa
*.ppam
*.pps
*.ppsx
*.ppt
*.pptx
*.properties
*.proto
*.ps1
*.psd
*.pub
*.purs
*.puz
*.pw
*.py
*.pyc
*.pyd
*.pyo
*.pyx
*.qml
*.r
*.rake
*.rb
*.rbw
*.rc
*.rdf
*.re
*.red
*.reds
*.rei
*.res
*.resx
*.rgs
*.rhtml
*.rjs
*.rlib
*.rmd
*.rmeta
*.rng
*.rproj
*.rss
*.rst
*.rsx
*.rtf
*.ru
*.ruby
*.s
*.sass
*.sb
*.sbt
*.sc
*.scala
*.scd
*.sch
*.scss
*.scurl
*.sd
*.sdl
*.sdp
*.sed
*.seq
*.ser
*.service
*.sh
*.sha
*.sig
*.sl
*.slim
*.slk
*.sln
*.sls
*.so
*.sol
*.sor
*.sou
*.sql
*.sqlite
*.sqlite3
*.sr
*.src
*.ss
*.ssjs
*.st
*.ste
*.stk
*.storyboard
*.sty
*.styl
*.sub
*.sublime-project
*.sublime-workspace
*.svg
*.swift
*.swp
*.sys
*.t
*.tar
*.tcsh
*.tex
*.texi
*.textile
*.tf
*.tfstate
*.tfvars
*.tgz
*.thrift
*.tif
*.tiff
*.tm
*.tml
*.tmp
*.tmpl
*.tmpo
*.tn
*.tox
*.tpl
*.tres
*.ts
*.tsx
*.ttl
*.twig
*.txt
*.typoscript
*.ui
*.unity
*.v
*.vala
*.vb
*.vbproj
*.vcxproj
*.vdx
*.vfb
*.vh
*.vhd
*.vhdl
*.vhost
*.vim
*.vimrc
*.vob
*.vpk
*.vscode
*.vssettings
*.vue
*.war
*.wav
*.wbk
*.wdgt
*.webapp
*.webm
*.webmanifest
*.wma
*.wmv
*.woff
*.woff2
*.workspace
*.wsp
*.x
*.xaml
*.xcodeproj
*.xcworkspace
*.xls
*.xlsx
*.xlsm
*.xlt
*.xltx
*.xml
*.xpi
*.xsd
*.xsl
*.xslt
*.yaml
*.yml
*.yy
*.yyy
*.z
*.zip
*.zsh
*.zwc
*.a
*.aar
*.app
*.asc
*.avro
*.bak
*.bar
*.baz
*.bin
*.bkp
*.bmp
*.bz2
*.bzip2
*.bzr
*.cab
*.cap
*.cat
*.cd
*.cer
*.cert
*.cfg
*.crt
*.csr
*.csv
*.dat
*.db
*.db3
*.dbf
*.deb
*.dep
*.des
*.dict
*.diff
*.dir
*.dist
*.dll
*.dmg
*.dmp
*.dmg
*.doc
*.docx
*.dump
*.ear
*.elf
*.enc
*.env
*.eot
*.eps
*.epub
*.exe
*.fnt
*.fon
*.gadget
*.gif
*.git
*.gz
*.gzip
*.hprof
*.hqx
*.htc
*.htm
*.html
*.ico
*.idx
*.img
*.iml
*.inf
*.info
*.ini
*.inl
*.ins
*.ipa
*.iso
*.jar
*.jks
*.jpe
*.jpeg
*.jpg
*.js
*.json
*.key
*.keystore
*.kex
*.ksh
*.lib
*.lock
*.log
*.lst
*.lzh
*.m4a
*.map
*.mar
*.master
*.md
*.mdb
*.mft
*.mid
*.midi
*.mix
*.mjs
*.mm
*.mobi
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msix
*.msixbundle
*.msg
*.msi
*.msix
*.msixbundle
*.msstyles
*.mts
*.multires
*.nib
*.nls
*.npmignore
*.o
*.obj
*.odp
*.ods
*.odt
*.ogg
*.ogv
*.opus
*.orig
*.out
*.pak
*.part
*.pcap
*.pdb
*.pdf
*.pem
*.pfx
*.pgm
*.php
*.pl
*.plist
*.pm
*.png
*.po
*.pot
*.potx
*.pp
*.ppa
*.ppam
*.pps
*.ppsx
*.ppt
*.pptx
*.properties
*.ps
*.ps1
*.psd
*.pub
*.pyc
*.pyo
*.qt
*.ra
*.ram
*.rar
*.raw
*.rb
*.rc
*.reg
*.res
*.resx
*.rgb
*.rm
*.rmvb
*.rsa
*.rss
*.rtf
*.rz
*.s
*.sar
*.sav
*.scc
*.scr
*.sdf
*.sea
*.service
*.sh
*.sln
*.so
*.sql
*.sqlite
*.sqlite3
*.sr
*.src
*.srdf
*.srf
*.srt
*.ssa
*.stl
*.str
*.strings
*.sty
*.sub
*.suo
*.svg
*.swc
*.swf
*.sys
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.tbz2
*.tga
*.tgz
*.tif
*.tiff
*.tlb
*.tmp
*.toast
*.toc
*.toml
*.tpf
*.tpl
*.ts
*.ttc
*.ttf
*.txt
*.udf
*.unity
*.unity3d
*.url
*.user
*.v
*.vcd
*.vdi
*.vdx
*.vmdk
*.vob
*.vscode
*.vsd
*.vsix
*.vssscc
*.vt
*.war
*.wav
*.wbk
*.webapp
*.webm
*.wim
*.wma
*.wmv
*.woff
*.woff2
*.wpd
*.ws
*.x
*.xaml
*.xcf
*.xla
*.xlam
*.xlc
*.xlf
*.xls
*.xlsx
*.xlsm
*.xlt
*.xltx
*.xlw
*.xml
*.xpi
*.xps
*.xsd
*.xsl
*.xslt
*.xul
*.xz
*.yaml
*.yml
*.z
*.zip
*.zsh
*.zwc
*.a
*.aar
*.app
*.asc
*.avro
*.bak
*.bar
*.baz
*.bin
*.bkp
*.bmp
*.bz2
*.bzip2
*.bzr
*.cab
*.cap
*.cat
*.cd
*.cer
*.cert
*.cfg
*.crt
*.csr
*.csv
*.dat
*.db
*.db3
*.dbf
*.deb
*.dep
*.des
*.dict
*.diff
*.dir
*.dist
*.dll
*.dmg
*.dmp
*.dmg
*.doc
*.docx
*.dump
*.ear
*.elf
*.enc
*.env
*.eot
*.eps
*.epub
*.exe
*.fnt
*.fon
*.gadget
*.gif
*.git
*.gz
*.gzip
*.hprof
*.hqx
*.htc
*.htm
*.html
*.ico
*.idx
*.img
*.iml
*.inf
*.info
*.ini
*.inl
*.ins
*.ipa
*.iso
*.jar
*.jks
*.jpe
*.jpeg
*.jpg
*.js
*.json
*.key
*.keystore
*.kex
*.ksh
*.lib
*.lock
*.log
*.lst
*.lzh
*.m4a
*.map
*.mar
*.master
*.md
*.mdb
*.mft
*.mid
*.midi
*.mix
*.mjs
*.mm
*.mobi
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msix
*.msixbundle
*.msg
*.msi
*.msix
*.msixbundle
*.msstyles
*.mts
*.multires
*.nib
*.nls
*.npmignore
*.o
*.obj
*.odp
*.ods
*.odt
*.ogg
*.ogv
*.opus
*.orig
*.out
*.pak
*.part
*.pcap
*.pdb
*.pdf
*.pem
*.pfx
*.pgm
*.php
*.pl
*.plist
*.pm
*.png
*.po
*.pot
*.potx
*.pp
*.ppa
*.ppam
*.pps
*.ppsx
*.ppt
*.pptx
*.properties
*.ps
*.ps1
*.psd
*.pub
*.pyc
*.pyo
*.qt
*.ra
*.ram
*.rar
*.raw
*.rb
*.rc
*.reg
*.res
*.resx
*.rgb
*.rm
*.rmvb
*.rsa
*.rss
*.rtf
*.rz
*.s
*.sar
*.sav
*.scc
*.scr
*.sdf
*.sea
*.service
*.sh
*.sln
*.so
*.sql
*.sqlite
*.sqlite3
*.sr
*.src
*.srdf
*.srf
*.srt
*.ssa
*.stl
*.str
*.strings
*.sty
*.sub
*.suo
*.svg
*.swc
*.swf
*.sys
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.tbz2
*.tga
*.tgz
*.tif
*.tiff
*.tlb
*.tmp
*.toast
*.toc
*.toml
*.tpf
*.tpl
*.ts
*.ttc
*.ttf
*.txt
*.udf
*.unity
*.unity3d
*.url
*.user
*.v
*.vcd
*.vdi
*.vdx
*.vmdk
*.vob
*.vscode
*.vsd
*.vsix
*.vssscc
*.vt
*.war
*.wav
*.wbk
*.webapp
*.webm
*.wim
*.wma
*.wmv
*.woff
*.woff2
*.wpd
*.ws
*.x
*.xaml
*.xcf
*.xla
*.xlam
*.xlc
*.xlf
*.xls
*.xlsx
*.xlsm
*.xlt
*.xltx
*.xlw
*.xml
*.xpi
*.xps
*.xsd
*.xsl
*.xslt
*.xul
*.xz
*.yaml
*.yml
*.z
*.zip
*.zsh
*.zwc

# Dependencies
packages/
node_modules/
bower_components/
jspm_packages/
.npm/
.yarn/
vendor/bundle/
.bundle/
.jspm/
.pip/
.tox/
.coverage
coverage/
htmlcov/
.mypy_cache/
.pytest_cache/
.hypothesis/
.eggs/
*.egg-info/
.nyc_output/
.nyc_output/
istanbul/
.nyc_output/
.reports/
.cache/
.node_repl_history
.intermediate/
.intermediates/
.intermediate/
.intermediates/

# Environment specific
.env
.env.local
.env.dev
.env.development
.env.prod
.env.production
.env.test
.env.testing
.env.*
.env.bak
.env.backup
.env.save
.env.tmp
.env.temp
.env.copy
.env.example
.env.sample
.env.dist
.env.default
.env.template
.env.vars
.env.variables
.env.settings
.env.config
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env~
.env.backup
.env.save
.env.copy
.env.example
.env.sample
.env.dist
.env.default
.env.template
.env.vars
.env.variables
.env.settings
.env.config
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
.env.yml
.env.xml
.env.ini
.env.cfg
.env.conf
.env.properties
.env.properties.local
.env.properties.dev
.env.properties.prod
.env.properties.test
.env.local.php
.env.prod.php
.env.test.php
.env.json
.env.yaml
......
```